div
{
	text-align: center;
	font-size: 20px;
}
.lead
{
	margin-top: 50px;
	font-size: 30px;
}

.img-2{
	margin-top: 50px;
	width: 100%;
}

h2
{
	margin-top: 300px;
	font-family: "Times New Roman", "Classic Sans MS", "Arial Black", Verdana, Arial, sans-serif;
	font-size: 70px;
}

.deux
{
	font-size: "Times New Roman", "Arial Black", "Classic Sans MS", Verdana, Arial, sans-serif;
	font-size: 70px;
}

.nom
{
	text-align: right;
}

.lol
{
	margin-top: 50px;
}

.navbar-header
{
	padding-right: 150px;
}

.lul
{
	border: 6px #0F9DE8 solid;
	border-radius: 10px;
	background-color: #0F9DE8;
	color: white;
}

.laliste
{
	border: 6px #0F9DE8 solid;
	border-radius: 10px;
	background-color: #0F9DE8;
	color: white;
}

.uneliste
{
	text-align: center;
	font-size: 25px;
}

.letexte
{
	font-size: 30px;
}

.officiel
{
	color: #0F9DE8
}
