.top-div{
	margin-top: 5%;
}

.my-buttons{
	margin-top: 9px;
}

h3
{
	font-size: 35px;
}

p
{
	font-size: 25px;
}

.un
{
	margin-top: 10%;
}

.image
{
	display: block;
	text-align: center;
	margin-top: 100px;
}

.texte
{
	margin-top: 50px;
}

nav
{
	color: blue;
}
.navbar-header
{
	padding-right: 150px;
}

.txtlol
{
	font-size: 20px;
}

.liste
{
	font-size: 25px;
	text-align: center;
	color: white;
}

.laliste
{
	text-align: center;
	font-size: 25px;

}

.centre
{
	text-align: center;
	border: 6px #0F9DE8 solid;
	border-radius: 10px;
	background-color: #0F9DE8;
}

.mlg
{
	border: 6px #0F9DE8 solid;
	border-radius: 10px;
	background-color: #0F9DE8;
	color: white;
}

.photos
{
	text-align: center;
	display: block;
}

.lefooter
{
	font-size: 30px;
	color: black;
}

section
{
	background-color: #0F9DE8;
}

.lehaut
{
	color: black;
}

.lafin
{
	color: black;
}