body
{
	font-family: 'Roboto', sans-serif;
}



.top-div
{
	margin-top: 5%;
}

.my-buttons{
	margin-top: 9px;
}

h3
{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top:30px;
}

p
{
	font-size: 20px;
}

.texte12
{
	font-size: 20px;
	margin-top: 25px;
}

.un
{
	margin-top: 10%;
}

.image
{
	display: block;
	text-align: center;
	margin-top: 100px;
}

.texte
{
	margin-top: 50px;
}

nav
{
	color: blue;
}

.txtlol
{
	font-size: 20px;
}

.liste
{
	font-size: 25px;
	text-align: center;
	color: white;
}

.laliste
{
	text-align: center;
	font-size: 25px;

}

.centre
{
	text-align: center;
	border: 6px #4c88a1 solid;
	border-radius: 10px;
	background-color: #4c88a1;
}

.mlg
{
	border: 6px #4c88a1 solid;
	border-radius: 10px;
	background-color: #4c88a1;
	color: white;
}

.six
{
	border: 6px #4c88a1 solid;
	border-radius: 10px;
	background-color: #4c88a1;
	color: white;
}

.photos
{
	text-align: center;
	display: block;
}

.lefooter
{
	font-size: 30px;
	color: black;
}

.officiel
{
	color: #0F9DE8;
	font-size: 30px;

}

section
{
	background-color: #4c88a1;
}

.lehaut
{
	color: black;
}

.lafin
{
	color: black;
}

.lafin1
{
	color: black;
}

.labarre
{
	font-size: 20px;
}

.metiers
{
	font-size: 20px;
}


.titres
{
	border: 6px #4c88a1 solid;
	border-radius: 10px;
	background-color: #4c88a1;
	color: white;
	font-size: 1.8em;
}

.1logo
{
	margin-left: 60px;
}

.glyphicon-pencil
{
	font-size: 250px;
	margin-top: 120px;
	margin-left: 100px;
}

.lal
{
	font-size: 20px;
}

.lal3
{
	text-align: left;
	font-size: 20px;
}

.lesphotos
{
	margin-top: 100px;
}

.glucozor
{
	margin-top: 50px;
}

.glyphicon-ok
{
	font-size: 250px;
	margin-top: 30px;
	margin-left: 100px;
}

.lefini1
{
	margin-right: 32px;
}
